<div class="flex flex-row font-fredoka ">
  <div class="flex flex-col ">
    <div class="ml-28 mt-32 ">
      <div class="text-7xl tracking-widest align-middle text-gray-800">Minion Toys</div>
      <div class="text-2xl font-concert tracking-wide text-gray-400 font-light mt-6 leading-8">
        Let's enjoy Universal Studio's new Minion Toys<br> collection, a love and
        cute collection.
      </div>
    </div>

    <button
      class="bg-[#4F93F8] hover:bg-blue-700 text-white py-6 px-4 rounded-full w-52 text-xl tracking-widest ml-28 mt-10"
    >
      Shop Now
    </button>
    <div class="bg-[url('assets/images/background.png')] bg-no-repeat bg-top bg-cover">
        <img
      src="assets/images/minion-images/shopnow.png"
      alt="shop now image"
      class="w-32 ml-36"
    />
    </div>
    
  </div>
  <div>
    <img src="assets/images/minion-images/theminions.png" alt="homepage image" />

  </div>
</div>
