<div class="flex flex-row font-fredoka w-screen">
  <div class="flex flex-col items-center">
    <div class="ml-40 mt-32">
      <div class="text-8xl tracking-widest align-middle text-gray-800">Minion Toys</div>
      <div class="text-2xl font-concert tracking-wider text-gray-400 font-light mt-6 leading-8">
        Let's enjoy Universal Studio's new Minion Toys<br> collection, a love and
        cute collection.
      </div>
    </div>

    <button
      class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-full"
    >
      Shop Now
    </button>
    <img
      src="assets/minion-images/shopnow.png"
      alt="shop now image"
      class="w-32"
    />
  </div>
  <div>
    <img src="assets/minion-images/threeminions.png" alt="homepage image" />
  </div>
</div>
