/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;

@font-face {
  font-family: "Fredoka One";
  src: url("./app/fonts/FredokaOne-Regular.ttf");
}

@font-face {
  font-family: "Concert One";
  src: url("./app/fonts/ConcertOne-Regular.ttf");
}

@tailwind utilities;
