<div>
  <div>
    <div class="pt-20 flex justify-evenly pl-40 pr-40">
      <button
        class="bg-[#FEE36E] hover:text-white hover:bg-[#212838] text-[#212838] py-4 px-4 rounded-full w-36 text-base tracking-widest"
      >
        All Minions
      </button>
      
      <button *ngFor="let minion of minionsNames"
        class="bg-[#FEE36E] hover:text-white hover:bg-[#212838] text-[#212838] py-4 px-4 rounded-full w-28 text-base tracking-widest"
      >
        {{minion}}
      </button>
      
    </div>
  </div>
  <div class="flex flex-row flex-wrap justify-evenly gap-10 pl-24 pr-24">
    <div *ngFor="let item of minions">
    
      <div class="flex flex-col w-40 mt-10 bg-white rounded-lg items-center">
        <div>{{ item.desciption }}</div>
        <img src="{{ item.imgSrc }}" alt="hey" class="w-20" />
        <div>Price: ${{ item.price }}</div>
      </div>
   
  </div>
  </div>
  
</div>
